* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #333;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    margin-bottom: 1rem;
}

// .card {
//     padding: 1rem;
// }

.hero-banner-container {
    height: 85vh;
    background-color: rgba(0,0,0,0.4);
    position: relative;
    margin-bottom: 2rem;
    color: #f8f8f8;
    clip-path: polygon(0px 0px, 100% 0px, 100% 65vh, 0px 100%);
    &:before {
        content: '';
        width: 100%;
        height: 85vh;
        position: absolute;
        background-image: linear-gradient(to right bottom, rgba(57, 70, 38, 0.3), rgba(0,0,0,0.7)),url(../images/hero-banner.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        
    }
    a {
        color: #fff;
       
    }
 
}

.main-nav-container {
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

.nav-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        display: inline-block;
        font-size: 1.5rem;
        &:hover {
            color: #f5c231;
        }
    }
}

.hero-banner-content-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
        h1 {
            font-size: 4.5rem;
            letter-spacing: 1.5px;
            font-weight: lighter;
        }
        p {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        a {
            font-size: 1.5rem;
            padding: 0.2rem;
            border: 1px solid #cd950c;
            border-radius: 5px;
            &:hover {
                opacity: 0.8;
            }
      
            
        }

}

.main-content-container {
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding: 1rem;
    margin-bottom: 5rem;
}

.content-card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-bottom: 1.5rem;
    img {
        width: 100%;
    }
    h3 {
        font-size: 1.8rem;
        margin-bottom: 0.2rem;
        font-weight: lighter;
        
    }
    p {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }
    
    a {
        font-size: 1.3rem;
        padding: 0.3rem;
        margin-bottom: 1rem;
        display: inline-block;
        background-color: #f5c231;
        border-radius: 5px;
        color: #444;
        &:hover {
            opacity: 0.9;
        }
        
    }
  
 
}

.option-container {
    text-align: center;
    max-width: 1400px;
    margin: 3.5rem auto;
   
    
    
    .option-card {
        margin-bottom: 3rem;
        i {
            margin-bottom: 1rem;
           
        }
        h3 {
            letter-spacing: 3px;
        }
    }

}

.option-card:first-child {
    i {
        color: 	#0a67bf;
       

    }
}

.option-card:nth-child(2) {
    i {
        color: 	#f05053;
    }

}

.option-card:nth-child(3) {
    i {
        color: 	#1e7e74
    }
}

.travel-container {
    height: 60vh;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    color: #fafafa;
    &:before {
        content: '';
        width: 100%;
        height: 60vh;
        position: absolute;
        background-image: url("../images/plan\ banner.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        
    }

 
}

.travel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    text-align: center;
    padding-top: 8rem;
    .tc-content1 {
        padding: 3rem;
        margin-bottom: 3rem;
        h3 {
            font-size: 2.2rem;
            margin-bottom: 1.5rem;
            letter-spacing: 2px;
            
            background-color: rgba(245, 194, 49,0.5);
            padding: 0.3rem;
            display: inline-block;

        }
        p {
            font-size: 1.3rem;
            // letter-spacing: 2px;
        }
    }

    .tc-content2 {
        max-width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
        a {
            color: #fafafa;
            display: block;
            font-size: 1.2rem;
            &:hover {
                color: #f5c231;
            }
        }
        i {
            margin-bottom: 1rem;
        }
    }
}

.park-intro-container {
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding: 5rem 1rem 3rem;
        h3 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            font-weight: lighter;
        }
        p {
            font-size: 1.3rem;
            letter-spacing: 2px;
            margin-bottom: 1rem;
        }
}

.park-content2 {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    img {
        margin-bottom: 0;
        cursor: pointer;
        transition-duration: 0.3s;
        &:hover {
            // animation: bounce 0.5s linear;
            transform: scale(1.3);
            border: 1px solid orange;
            box-shadow: 0px 4px 6px 0px;
           
            
        }
    }
}

#showcaseImage {
    position: fixed;
    z-index: 1000;
    top: 0;
    max-width: 400px;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

#showcaseImage.active {
    display: flex;
    justify-content: center;
    align-items: center;

}



@media (min-width: 600px) {
    .option-container {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
}


@media (min-width: 758px) {
    .main-content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    
   
}

@media (min-width: 950px) {

    .hero-banner-container {
        h1 {
            font-size: 6.5rem;
        }
        p {
            font-size: 2rem;
        }
    }
    .main-content-container {
        grid-template-columns: repeat(3, 1fr)
    }

    .park-intro-container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        grid-gap: 2rem;
    }
}



// @keyframes bounce {
//     20% {
//         transform: translateY(-10px);
//     }
//     40% {
//         transform: translateY(0px);
//     }
//     60% {
//         transform: translateY(-6px);
//     }
//     80% {
//         transform: translateY(-0px);
//     }
//     100% {
//         transform: translateY(0px);
//     }
// }
